@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: no-preference) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  @apply tracking-tighter
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb))
    rgb(var(--background-start-rgb));
}

.initHoverAnimation{
  @apply transition ease-in duration-300
}

.lgComponent {
    @apply hidden md:block
}

.mdComponent {
    @apply lg:hidden
}

.flexRowGroup {
  @apply flex flex-row items-center relative
}

